#navigation{
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navigation-left{
    display: flex;
    align-items:center;
    flex:1;
    justify-content: space-between;
}
#navigation-right{
    height: 30px;
    width: 50px;
    background-image: url(../img/菜单.png);
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;
  }
#navigation-left div{
    align-items: center;
   }

#navigation-menu{
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 30px;
    right: 0px;
     border-radius: 10px 10px 0 0 ;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
#select-1{
    background-image: url(../img/关闭.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    margin: 10px;
}
#select-2{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#select-2-1{
    font-weight: bolder;
    margin:0 10px 0 7px;
}
#select-2-2{
    font-size: 15px;
    color: grey;
    margin:0 130px 0 0;
}
#select-2-3{
    border: red 1px solid;
    height: 30px;
    width: 40px;
    color: red;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
}
.select-3{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.select-4{
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: right;
}
.select-3-1{
    height: 40px;
    width: 70px;
    background-color:#E0E0E0;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
}
.select-4-1{
    height: 40px;
    width: 70px;
    background-color:#E0E0E0;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
}
#select-5{
    display: flex;
    align-items: center;
}
#select-5-1{
    font-weight: bolder;
    margin:0 10px 0 7px;
}
#select-5-2{
    font-size: 15px;
    color: grey;
    margin:0 180px 0 0;
}
.select-6{
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-between;
}
.select-6-1{
    height: 40px;
    width: 70px;
    background-color:white;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    border: grey 1px dashed;
}